<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Upload an Image</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Upload</button>
        </form>
        <div id="result"></div>
        <div class="description">
            <p>WafaaThis application uses machine learning to predict sign language numbers from 0 to 9. Upload an image of a hand showing a number, and the model will predict the corresponding number.</p>
        </div>
        <div class="examples">
            <h2>Sign Language Numbers (0-9)</h2>
            <div class="images">
                <div class="image-container">
                    <img src="../static/images/2.JPG" alt="0">
                    <p>0</p>
                </div>
                <div class="image-container">
                    <img src="../static/images/2.JPG" alt="1">
                    <p>1</p>
                </div>
                <div class="image-container">
                    <img src="../static/images/3.jpg" alt="2">
                    <p>2</p>
                </div>
                <div class="image-container">
                    <img src="../static/images/3.jpg" alt="3">
                    <p>3</p>
                </div>
                <div class="image-container">
                    <img src="../static/images/4.jpg" alt="4">
                    <p>4</p>
                </div>
                <div class="image-container">
                    <img src="../static/images/5.jpg" alt="5">
                    <p>5</p>
                </div>
                <div class="image-container">
                    <img src="../static/images/6.jpg" alt="6">
                    <p>6</p>
                </div>
                <div class="image-container">
                    <img src="../static/images/7.jpg" alt="7">
                    <p>7</p>
                </div>
                <div class="image-container">
                    <img src="../static/images/8.jpg" alt="8">
                    <p>8</p>
                </div>
                <div class="image-container">
                    <img src="../static/images/9.jpg" alt="9">
                    <p>9</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('uploadForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var resultDiv = document.getElementById('result');
                if (data.error) {
                    resultDiv.innerHTML = '<div class="error"><h2>Error:</h2><p>' + data.error + '</p></div>';
                } else {
                    resultDiv.innerHTML = '<div class="predictions"><h2>Predictions:</h2><p>' + data.predictions.join(', ') + '</p></div>';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>